<!DOCTYPE html>
<html>
    <head>
        <title>Freemarker language examples</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <h2>simple interpolations, builtins and defaults</h2>
        <!-- interpolations semplici, builtins e defaults -->
        <!-- simple interpolations, builtins and defaults -->
        <p> ${saluto!"Hello!"} </p>
        <p> ${number+1} </p>
        <h3>builtins</h3>
        <p> ${name?lower_case?cap_first} ${surname?lower_case?cap_first},
        <!-- accesso a hash nidificate -->
        <!-- access to nested hashes -->
        ${address.street} ${address.number!"SNC"}, ${address.city} </p>
        <h3>bean properties</h3>
        <!-- output delle proprieta' di un bean -->
        <!-- output of a bean properties -->
        <p> ${person.name?cap_first} ${person.surname?cap_first},
            ${person.address.street} ${person.address.number!"SNC"}, ${person.address.city} </p>
        <hr/>
        <h2>conditional output: condition on variable definition</h2>
        <!-- output condizionale: condizione sulla definizione della variabile -->
        <!-- conditional output: condition on variable definition -->
        <#if (person??) >
        <p> ${person.name?cap_first} ${person.surname?cap_first},
            ${person.address.street} ${person.address.number!"SNC"}, ${person.address.city} </p>
        </#if>
        <#if (otherperson??) >
        <p> ${otherperson.name?cap_first}  </p>
        <#else>
        <p>There is no other person!</p>
        </#if>
        <hr/>
        <h2>access to single list elements</h2>
        <!-- accesso a singoli elementi di una lista -->
        <!-- access to single list elements -->
        <p>${relatives[0].name}</p>
        <p>${relatives[number].name}</p>
        <hr/>
        <h2>conditional output: complex contidions</h2>
        <!-- output condizionale: condizioni complesse -->
        <!-- conditional output: complex contidions -->
        <#if relatives[0].name?contains("a")>
        <p>Yes, it is.</p>
        </#if>
        <hr/>
        <h2>conditional output: condition on a list builtin</h2>
        <!-- output condizionale: condizione su builtin di lista -->
        <!-- conditional output: condition on a list builtin -->
        <#if (relatives?size > 0)>
        <ul>
            <!-- iterazione su lista -->
            <!-- iteration over a list -->
            <#list relatives as relative>
            <!-- il builtin index restituisce l'indice corrente del loop -->
            <!-- the index builtin returns the current loop index -->
            <li>${relative?index+1}) ${relative.name} (${relative.age})</li>    
            <!-- oppure/or ${relative?counter} -->
            </#list>            
        </ul>
        <#else>
        <p>No relatives</p>
        </#if>
        <hr/>
        <h2>else statment in the list directive, sep directive</h2>
        <!-- le utime versioni di freemarker permettono di inserire un else direttamente nella list -->
        <!-- latest versions of freemarker allow an else directly in the list directive -->
        <p>
            <#list relatives as relative>
            <!-- la direttiva sep inserisce il separatore solo tra gli elementi della lista -->
            <!-- the sep directove adds a the give separator only between the list elements -->
            ${relative.name} (${relative.age})<#sep>, </#sep>
            <#else>    No relatives
            </#list>           
        </p>
        <hr/>
        <h2>the has_next builtin in loops</h2>
        <!-- versione alternativa senza la direttiva sep -->
        <!-- alternative version, without the sep directive -->
        <p>
            <#list relatives as relative>
            <!-- il builtin has_next restituisce true se la variabile (di loop) ha un elemento successivo -->
            <!-- the has_next builtin returns true if the (loop) variable has a next element -->
            ${relative.name} (${relative.age})<#if (relative?has_next)>, </#if>
            <#else>    No relatives 
            </#list>           
        </p>
        <hr/>
        <h2>template inclusion with non-static name </h2>
        <!-- inclusione di template con nome non statico -->
        <!-- template inclusion with non-static name -->
        <#include template_to_include>
        <hr/>
        <h2>zero-argument macros</h2>
        <!-- le macro non sono trattate a lezione, qui riportiamo solo qualche esempio di base -->
        <!-- macros are not between the lecture arguments, here we report only some basic examples -->

        <!-- macro senza parametri, definita e poi richiamata -->
        <!-- zero-argument macro, defined and the called -->
        <#macro codeblock1>
        <p> ${name?cap_first} ${surname?cap_first}</p>
        </#macro>

        <@codeblock1/>
        <hr/>
        <h2>one-argument macro with a default value</h2>
        <!-- macro con parametro dotato di default, definita e poi richiamata con e senza argomenti -->
        <!-- one-argument macro with a default value, defined and the called with and without arguments -->
        <#macro codeblock2 saluto="ciao">
        <p>${saluto} ${name?cap_first} ${surname?cap_first}</p>
        </#macro>

        <@codeblock2/>
        <@codeblock2 saluto="hello"/>
        <hr/>
        <h2>macro directive</h2>
        <!-- macro-direttiva: la parte #nested viene sostituita con il testo inserito nel tag di chiamata -->
        <!-- macro-directive: the #nested part becomes the text included in the calling tag -->
        <#macro codeblock3 saluto>
        <p>${saluto} ${name?cap_first} ${surname?cap_first} <#nested>  </p>
        </#macro>

        <@codeblock3 saluto="hello"/>
        <@codeblock3 saluto="hello">how are you?</@codeblock3>
        <hr/>
    </body>
</html>

